body, html {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.body-light {
    background-color: white;
    color: black;
}

.body-dark {
    background-color: #212121;
    color: white;
}

.bold-text{
    font-family: 'Merriweather Sans', sans-serif;
}

.headimage {
    background-image: url("images/boat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
}


.top-img-1 {
    padding: 15vh 30px;
    margin: 30vh 0 2vh;
    border-radius: 40px;
}

.top-img-1-light {
    background-color: rgba(196, 196, 196, 0.87);
    color: #000000;
    transition: background-color 1.5s, color 1.5s;
}

.top-img-1-light:hover {
    background-color: rgba(26, 26, 26, 0.87);
    color: #e9e9e9;
}

.top-img-1-dark {
    background-color: rgba(26, 26, 26, 0.87);
    color: #e9e9e9;
    transition: background-color 1.5s, color 1.5s;
}

.top-img-1-dark:hover {
    background-color: rgba(196, 196, 196, 0.87);
    color: #000000;
}

.main-body-lg-div-light {
    background-color: white;
    transition: background-color 1s, color 1s;
}

.main-body-lg-div-light:hover {
    background-color: #212121;
    color: white;
}

.main-body-lg-div-dark {
    background-color: #212121;
    transition: background-color 1s, color 1s;
}

.main-body-lg-div-dark:hover {
    background-color: white;
    color: black;
}

.top-text-1 {
    padding-bottom: 40px;
    font-weight: 900;
}

.image-div {
    text-align: center;
}

.main-body-images {
    width: 100%;
}


.main-text-div {
    margin: 20px 50px;
}

.Heading {
    padding: 10px 0 20px;
    font-weight: 800;
}

.text-text {
    line-height: 2;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .text-text {
        line-height: 1.2;
    }

    .main-text-div {
        margin: 20px 20px;
    }
}

@media (max-width: 900px) {
    .text-text {
        line-height: 1;
    }

    .main-text-div {
        margin: 20px 10px;
    }
}

@media (max-width: 767px) {
    .text-text {
        line-height: 1.5;
    }

    .main-text-div {
        margin: 20px 25px;
    }

    .main-body-images {
        width: 75%;
        margin: 50px 0 20px;
    }
}

/*comment*/
.comment-input{
    margin: 10vh 0;
    text-align: center;
}

.comment-body-1{
    margin: 40px auto;
}

.info{
    text-align: center;
}

.comment-main,.comment-main-text{
    margin: 10px 40px;
}


.comment-main-border{
    border-radius: 30px;
}

.comment-submit{
    text-align: center;
    width: 120px;
}

.comment-display{
    text-align: left;
}

#para,#para-text{
    display: inline;
}

.comment-display-body-light{
    margin: 60px 20px;
    border-radius: 40px;
    box-shadow: 0 0 20px 0 gray;
    padding: 20px;
}

.para-rest-light{
    color: black;
    font-weight: 600;
}

.para-text-rest-light{
    color: #454545;
    font-weight: 400;
    font-size: 1.2rem;
}

.comment-display-body-dark{
    margin: 60px 20px;
    border-radius: 40px;
    box-shadow: 0 0 20px 0 #9d9d9d;
    padding: 20px;
    background-color: #212121;
}

.para-rest-dark{
    color: #ffffff;
    font-weight: 600;
}

.para-text-rest-dark{
    color: #dddddd;
    font-weight: 400;
    font-size: 1.2rem;
}

.comment-title{
    font-weight: 800;
}







/*End Section*/
.end-section-light {
    padding: 30px;
    text-align: center;
    background-color: #cbcbcb;
    color: black;
}

.iconcontact-light {
    margin: 30px;
    color: black;
    transition: color 1s;
}

.iconcontact-light:hover {
    color: #565656;
}

.end-section-dark {
    padding: 30px;
    text-align: center;
    background-color: #181818;
    color: white;
}

.iconcontact-dark {
    margin: 30px;
    color: white;
    transition: color 1s;
}

.iconcontact-dark:hover {
    color: #b3b3b3;
}
