html{
  box-sizing:border-box}*,
  *:before,
  *:after{box-sizing:inherit}
html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
  }
body{
  margin:1
}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%}
@media (min-width:601px){
  .w3-col.m1{width:8.33333%}.w3-col.m2{width:16.66666%}.w3-col.m3,
  .w3-quarter{width:24.99999%}.w3-col.m4,
  .w3-third{width:33.33333%}.w3-col.m5{width:41.66666%}.w3-col.m6,
.w3-half{width:49.99999%}.w3-col.m7{width:58.33333%}.w3-col.m8,
.w3-twothird{width:66.66666%}
.w3-col.m9,.w3-threequarter{width:74.99999%}.w3-col.m10{width:83.33333%}.w3-col.m11{width:91.66666%}.w3-col.m12{width:99.99999%}}


.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:0 8px}
.w3-third{
  flex: 1 0 24rem;

	overflow: hidden;
}
.w3-third img{
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  transition: transform 400ms ease-out;

}
.w3-third img:hover {
	transform: scale(1.1);
}
